/*
 MOBILE FIRST APPROACH
 GLOBAL 
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.button__primary {
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #FFF;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 15px;
}


/* *********************************************************** */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.hero__container {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.hero__image__container {
    position: relative;
}
.hero__description {
    text-align: center;
}
.hero__image__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    z-index: -3;
}

.hero__image {
    width: 100%;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 20px rgb(149, 149, 149);
}

.hero__text {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0px;
}

/* Explore Menu0 */

.explore__menu__text, 
.restaurant__text,
.stay__updated__text {
    text-align: center;
    font-size: 30px;
    color: #1d3557;
    margin-bottom: 15px;
    
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0px 0px;

}
.food__menu__card {
    background-color: #FFF;
    border-radius: 8px;
    margin: 20px 0px;
}
.food__description{
    padding: 20px;
}
.explore__menu__view__more {
    display: flex;
    justify-content: center;
}
/* Restaurents List */
.restaurant__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
  }
  .restaurant__images__container {
    width: 100%;
  }
  
  .restaurant__images__row__one,
  .restaurant__images__row__two {
    width: 100%;
    display: flex;
    gap: 5px;
  }
  
  .restaurant__images__row__one {
    align-items: baseline;
    margin-bottom: 3px;
  }
  
  .restaurant__image__1,
  .restaurant__image__4 {
    width: 100%;
    height: 130px;
  }
  
  .restaurant__image__2,
  .restaurant__image__3 {
    width: 120%;
    height: 160px;
  }
  
  .restaurant__1,
  .restaurant__2,
  .restaurant__3,
  .restaurant__4 {
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  .form__container {
      width: 100%;
      margin-top: 40px;
     text-align: center; 
     margin-bottom: 50px;
  }

  .form__input__email{
      width: 60%;
      padding: 5px 10px;
      outline: none;
      border: 1px solid palevioletred;
      border-radius: 4px;
  }

  .slogan__container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #1d3557;

  } 
  .slogan__image {
      width: 100%;
      height: 100%;
    border-radius: 10px;
    opacity: 0.8;

  }

  .slogan__text {
      position: absolute;
      top: 50px;
      left: 0;
      color: #FFF;   
    }

    .footer__container {
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
          );
        color: #FFF;
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .footer__brand {
        width: 100%;
        text-align: center;
    }
    .footer__logo {
        width: 200px;
    }
    .footer__text{
        width: 100%;
        text-align: center;
    }
    .footer__text h4 {
        cursor: pointer;
    }
  /* it is alredy fit for mobile deices 
 for tablets */ 
@media (min-width: 768px) {

}
/* for laptops */
@media (min-width: 1020px) {
    .navbar {
        justify-content: space-between;
        padding: 20px 40px;
    }
    .navbar__brand {
        width: 170px;
    }
    .button__primary {
        padding: 15px 20px;
    }
    .container{
        max-width: 80%;
    }
    .hero__container {
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero__image__container{
        width: 100%;
    }
    .hero__description {
        width: 100%;
      }
    .hero__text {
        font-size: 60px;
    }
    .hero__description {
        text-align: start;
    }
    .hero__image2 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .explore__menu__list {
        display: flex;
        gap: 20px;
        padding: 30px;
    }
    .explore__menu__container {
        position: relative;
        padding: 30PX 0;
        margin-bottom: 100px;

    }
    .food__menu__card {
        width: 100%;
        margin: 0px 0px;
    }
    .explore__menu__bg {
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
          );
          z-index: -3;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: skewY(-3deg);
    }
    .explore__menu__text {
        font-size: 50px;
    }

    #pizza__card {
        margin-top: -10px;
        margin-bottom: 40px;
    }
    .restaurant__container {
        display: flex;
        margin-bottom: 100px;
        align-items: center;

    }
    .restaurant__text {
        font-size: 50px;
        width: 100%;
    }
    .restaurant__images__container {
        width: 120%;
    }
    .restaurant__image__1,
    .restaurant__image__4 {
      width: 100%;
      height: 170px;
    }
    
    .restaurant__image__2,
    .restaurant__image__3 {
      width: 120%;
      height: 220px;
    }
    .form__container {
        margin-bottom: 100px;
    }
    .form__input__email{
        padding: 12px 20px;
        width: 50%;
    }
    .slogan__container{
        height: 300px;
        margin-bottom: 100px;

    }
    .slogan__text{
        padding: 0 20px;
        font-size: 30px;
        top: 100px;
    }
    .footer__container {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 60px 0;
    }
    .footer__brand{
        width: 150%;
    }
    .footer__text{
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/* for desktop */
@media (min-width: 1400px) {
    
}