* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.nav__item {
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #FFF;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 6px;
}